
/.idea/
/.DS_Store
/src/.DS_Store
/src/main/.DS_Store
/src/main/resources/.DS_Store
/src/main/.DS_Store
/target/
src/main/resources/ml/.DS_Store
src/main/resources/ml/trainingMAX.csv
src/main/resources/ml/trainingMINIMAX.csv
src/main/resources/ml/trainingMONTE.csv
src/main/resources/ml/trainingRAN.csv
src/main/resources/ml/trainingVAR.csv
