<header ic-include='{"status":"$status"}'>
    <h1>Contract Whist Online</h1>

</header>

<section id="main" ic-include='{"status":"$status"}'>


    <div id="LeftBlock">
        <h2> Game Information </h2>
        <hr><br>
        <p> Cards Left: <strong id="cardsLeft">$cardsLeft</strong> </p>
        <p> Pipers Piping: 11 </p>
        <p> Lords a'Leaping: 10 </p>
        <p> Ladies Dancing: 9 </p>
        <p> Maids a'Milking: 8 </p>
        <p> Swans a'Swimming: 7 </p>
        <p> Geese a'Laying: 6 </p>
        <p> Gold Rings: 5 </p>
        <p><strong>Set Speed: </strong> <span id="speedLabel">Normal</span></p>
          <div class="slidecontainer">
            <input type="range" min="1" max="5" value="3" class="slider" id="speedRange" ic-post-to="/speed">
          </div>
    </div>
    <div id="RightBlock">
        <div>
        <img id="topCard" class="topCard" src="/cards/blank.png" alt="Top Card">
        </div>
        <div id=lowerGameArea>
        <div id="playerArea">
            <h3 class="playerName">$player1</h3>
            <div id="playerHand">
                <div id="threeRow"></div>
                <div id="card"></div>
                <div id="card"></div>
                <div id="twoRow"></div>
                <div id="card"></div>
            </div>
        </div>
        <div id="playerArea">
          <h3 class="playerName">$player2</h3>
          <div id="playerHand">
            <div id="threeRow"></div>
            <div id="card"></div>
            <div id="card"></div>
            <div id="threeRow"></div>
            <div id="card"></div>
            <div id="card"></div>
          </div>
        </div>
        <div id="playerArea">
          <h3 class="playerName">$player3</h3>
          <div id="playerHand">
            <div id="fourRow"></div>
            <div id="card"></div>
            <div id="card"></div>
            <div id="card"></div>
            <div id="threeRow"></div>
            <div id="card"></div>
            <div id="card"></div>
          </div>
        </div>
        </div>
    </div>


</section>

<footer>

</footer>
