<header>
    <h1>Contract Whist Online</h1>
</header>

<section id="main">
    <div id="LeftBlock">
        <h2> Game Information </h2>
        <hr>
        <p> Cards Left: <strong id="cardsLeft">$cardsLeft</strong> </p>
        <p> Trump: <strong id="trumpLabel"></strong> </p>
        <p> <span id="player1Name">P1</span>'s Prediction: <strong id="player1Prediction"></strong> </p>
        <p> <span id="player1Name">P1</span>'s Current Hands Won: <strong id="player1Current">0</strong> </p>
        <p> <span id="player1Name">P1</span>'s Score: <strong id="player1Score">0</strong> </p>
        <p> <span id="player2Name">P2</span>'s Prediction: <strong id="player2Prediction"></strong> </p>
        <p> <span id="player2Name">P2</span>'s Current Hands Won: <strong id="player2Current">0</strong> </p>
        <p> <span id="player2Name">P2</span>'s Score: <strong id="player2Score">0</strong> </p>
        <p> <span id="player3Name">P3</span>'s Prediction: <strong id="player3Prediction"></strong> </p>
        <p> <span id="player3Name">P3</span>'s Current Hands Won: <strong id="player3Current">0</strong> </p>
        <p> <span id="player3Name">P3</span>'s Score: <strong id="player3Score">0</strong> </p>

        <p><strong>Set Speed: </strong> <span id="speedLabel">Normal</span></p>
          <div class="slidecontainer">
            <input type="range" min="1" max="5" value="3" class="slider" id="speedRange">
          </div>
    </div>
    <div id="RightBlock">
        <div>
        <img id="topCard" class="topCard" src="/cards/blank.png" alt="Top Card" style="display:none;">
        </div>
        <div id=lowerGameArea>
        <div id="playerArea">
            <h3 class="playerName"><span id="player1Name">P1</span></h3>
            <div class="playerHand" id="player1">
              <img class="fourRow" src="/cards/blank.png" id="player1card1" style="display:none;">
              <img class="card" src="/cards/blank.png" id="player1card2" style="display:none;">
              <img class="card" src="/cards/blank.png" id="player1card3" style="display:none;">
              <img class="card" src="/cards/blank.png" id="player1card4" style="display:none;">
              <img class="threeRow" src="/cards/blank.png" id="player1card5" style="display:none;">
              <img class="card" src="/cards/blank.png" id="player1card6" style="display:none;">
              <img class="card" src="/cards/blank.png" id="player1card7" style="display:none;">
            </div>
        </div>

        <div id="playerArea">

          <h3 class="playerName"><span id="player2Name">P2</span></h3>
          <div class="playerHand" id="player2">
            <img class="fourRow" src="/cards/blank.png" id="player2card1" style="display:none;">
            <img class="card" src="/cards/blank.png" id="player2card2" style="display:none;">
            <img class="card" src="/cards/blank.png" id="player2card3" style="display:none;">
            <img class="card" src="/cards/blank.png" id="player2card4" style="display:none;">
            <img class="threeRow" src="/cards/blank.png" id="player2card5" style="display:none;">
            <img class="card" src="/cards/blank.png" id="player2card6" style="display:none;">
            <img class="card" src="/cards/blank.png" id="player2card7" style="display:none;">
          </div>
        </div>

        <div id="playerArea">
            <section class="gameStarted" style="display:none;">
              <h3 class="playerName"> <span id="player3Name">P3</span> </h3>
              <div class="playerHand" id="player3">
                <img class="fourRow" src="/cards/blank.png" id="player3card1" style="display:none;">
                <img class="card" src="/cards/blank.png" id="player3card2" style="display:none;">
                <img class="card" src="/cards/blank.png" id="player3card3" style="display:none;">
                <img class="card" src="/cards/blank.png" id="player3card4" style="display:none;">
                <img class="threeRow" src="/cards/blank.png" id="player3card5" style="display:none;">
                <img class="card" src="/cards/blank.png" id="player3card6" style="display:none;">
                <img class="card" src="/cards/blank.png" id="player3card7" style="display:none;">
              </div>
            </section>
            <section class="gameSetup">
                <div class="dropdown">
                    <button onclick="dropDown()" class="dropbtn" id="dropbtn3">Select Agent ▼</button>
                    <div id="myDropdown" class="dropdown-content">
                        <div onclick="agentSelect('Maximum', 3)">Maximum</div>
                        <div onclick="agentSelect('MiniMax', 3)">MiniMax</div>
                        <div onclick="agentSelect('Random', 3)">Random</div>
                        <div onclick="agentSelect('Varying Trump', 3)">Varying Trump</div>
                        <div onclick="agentSelect('Monte Carlo', 3)">Monte Carlo</div>
                    </div>
                    <form id="agentName" action="">
                        Agent Name:<br>
                        <input type="text" id="agentNameBox" value="Samuel">
                    </form>
                </div>

            </section>
        </div>
        </div>
    </div>


</section>

<footer>

</footer>
